body {
    width: 100%;
    height: 100vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    padding: 0%;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.columnacard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 19%;
    height: 20%;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 10px;
    margin-top:0.5%;

}

    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }

.contenedor-img {
    width: 95%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

    .contenedor-img > img {
        width: 90%;
        height: 50%;
        object-fit: contain;
        display: block;
    }

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .card-body > h5 {
        font-size: 1.2em;
    }

    .card-body > p {
        font-size: 0.9em;
    }

.btnIdArticulo {
    border: none;
    border-radius: 8px;
    height: 30%;
    width: 40%;
    background-color: lightgray;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

    .btnIdArticulo:hover {
        background-color: rgba(0, 123, 255, 0.4); /* azul claro con transparencia */
    }

header {
    background-color: ghostwhite;
    width: 100%;
    height: 150px;
}
.contenedor-header{
    height:100%;
    width:100%;
    display:flex;
   
}


.contendor-img-logo {
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    border-radius: 30px;
}

    .contendor-img-logo > a > img {
        display: flex;
        width: 40px;
        height: auto;
    }

.menu-navegacion > ul, .menu-login > ul {
    display: flex;
    flex-direction: row;
}

    .menu-navegacion > ul > li, .menu-login > ul > li {
        list-style: none;
        margin: 0%;
        display: inline;
        margin: 2%;
    }

        .menu-navegacion > ul > li > a, .menu-login > ul > li > a {
            text-decoration: none;
            color: inherit;
            display: inline;
            white-space: nowrap;
            color: white;
        }
/* clase al boton del nav */

.button-a {
    display: inline-block;
    background-color: lightgray; /* Color azul tipo botón */

    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    border: none;
}

    .button-a:hover {
        background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
        color: white;
    }

.btn-cerrar-sesion {
    display: inline-block;
    background-color: lightgray; /* Color azul tipo botón */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    border: none;
}

    .btn-cerrar-sesion:hover {
        background-color: rgba(202, 7, 7, 0.95); /* Color al pasar el mouse */
        color: white;
    }

.btn-mi-cuenta {
    display: inline-block;
    background-color: lightgray; /* Color azul tipo botón */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    border: none;
}

    .btn-mi-cuenta:hover {
        background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
        color: white;
    }

.contenedor-logo, .menu-login,.menu-navegacion {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-login{
    align-items:center;
    justify-content:center;
}

.oculto {
    display: none;
}
.div-banner{
    height:40%;
    width:100%;
    background-color:red;
    display:flex;

}
#row-art {
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner {
    height: 400px;
    background-color: blanchedalmond;
}

.contenedorRegistro, .contenedorLogin {
    width: 50%;
    background-color: greenyellow;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.row-panel {
    height: 100vh;
    background-color: palevioletred;
}

.imagenPerfil {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}

.panelUsuario {
    background-color: grey;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor-perfil-user {
    width: 70%;
}

.imagenPerfil {
    width: 30%;
    height: auto;
    background-color: ghostwhite;
}

.panel-perfil {
    height: 60%;
    width: 70%;
    background-color: palevioletred;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-form {
}

.asp-form {
    width: 60%;
    margin-left: 1.5%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 1%;
    outline: none; /* Evita el contorno predeterminado negro al enfocar */
    transition: border 0.1s ease; /* Suaviza el cambio */
    background-color: whitesmoke;
}

    .asp-form:focus {
        border: 2px solid rgba(0, 123, 255, 0.4);
    }

.img-usuario {
    max-width: 100%; /* Evita que se pase del contenedor */
    max-height: 100%; /* Ajusta la altura sin deformar */
    object-fit: cover; /* Ajusta el recorte de la imagen */
}

/*  PAGINA LISTADO.ASPX*/
.contenedor-listado-main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo {
    height: 10%;
    
    width: 100%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    
}

    .titulo > h3 {
        margin-left: 1%;
    }

    .titulo > h2 {
        
        margin-left: 2%;
    }

.contendor-busqueda-articulos {
    height: 8vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contenedor-txt-busqueda {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    align-items: center;
}

    .contenedor-txt-busqueda > label {
        margin-left: 5%;
        font-size: 1.1em;
    }

.input-busqueda {
    height: 35px;
    margin-left: 3%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

    .input-busqueda:focus {
        outline: none; /* Quita la línea negra */
        border: 1px solid #4da3ff; /* Borde azul suave */
        box-shadow: rgba(0, 123, 255, 0.4); /* Sombra externa suave */
        transition: all 0.3s ease;
    }

.contenedor-check {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: center;
}

.label-busqueda {
    margin-left: 2%;
    width: 30%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    text-align: center;
}

/*contenedor busqueda avanzada*/
.columnaBusquedaAvanzada {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12vh;
}

.contenedor-campo {
    width: 20%;
    display: flex;
    align-items: center;
}

    .contenedor-campo > label {
        margin-left: 5%;
        font-size: 1.1em;
    }

.ddl-campo {
    margin-left: 3%;
    height: 30px;
    border: none;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

    .ddl-campo:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(77, 163, 255, 0.6);
    }

.contenedor-criterio {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .contenedor-criterio > label {
        margin-left: 5%;
        font-size: 1.1em;
    }

.ddl-criterio {
    margin-left: 3%;
    height: 30px;
    border: none;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

    .ddl-criterio:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(77, 163, 255, 0.6);
    }

.contenedor-filtro {
    width: 20%;
    display: flex;
    align-items: center;
}

    .contenedor-filtro > label {
        margin-left: 5%;
        font-size: 1.1em;
    }

.input-filtro {
    height: 30px;
    margin-left: 3%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

    .input-filtro:focus {
        outline: none; /* Quita la línea negra */
        border: 1px solid #4da3ff; /* Borde azul suave */
        box-shadow: rgba(0, 123, 255, 0.4); /* Sombra externa suave */
        transition: all 0.3s ease;
    }

.contenedorBtnBusqueda {
    width: 20%;
    display: flex;
    align-items: center;
}

.btn-busqueda-desactivada {
    width: 140px;
    height: 30px;
    border: none;
    margin-left: 5%;
    border-radius: 20px;
    background-color: dimgrey;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-buscar-avanzado {
    color: black;
    width: 140px;
    height: 30px;
    border: none;
    margin-left: 5%;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

    .btn-buscar-avanzado:hover {
        background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
        color: white;
    }


/*contenedor listado de articulos*/

.contenedor-listado-articulo {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
}

.contenedor-aux-dgv {
    width: 80%;
    margin-top: 5%;
}

.tabladgv {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

    .tabladgv td, .tabladgv th {
        padding: 12px 16px;
        text-align: center;
    }

    .tabladgv tr {
        transition: all 0.3s ease; /* Transición suave */
    }

        .tabladgv tr:hover {
            background-color: rgba(0, 123, 255, 0.4); /* color suave para la fila */
            transition: background-color 0.3s ease;
            border-radius: 20px;
        }
/*pantalla carga articulo*/


.div-formulario-main{
    
    height:80vh;
    display:flex;
    width:100%;
    flex-direction:column;
}
.contedor-cargar-articulo{
    
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.formulario-articulos {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    
    
}
.div-imagen-articulo{
    display:flex;
    width:50%;
    
    
    justify-content:center;
    align-items:center;
}
.asp-imagen-articulo {
    width: 70%;
    border-radius: 10px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
}
.div-form-carga {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.div-form-carga-descripcion{
    height:15%;
    display:flex;
    flex-direction:column;

}
.txtbox-descripcion {
    width: 70%;
    margin-left: 1.5%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 1%;
    outline: none; /* Evita el contorno predeterminado negro al enfocar */
    transition: border 0.1s ease;
    background-color: whitesmoke;
    resize: none;
}
.label-carga {
    margin-left: 1.5%;
}
.txtbox-carga {
    width: 70%;
    margin-left: 1.5%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 1%;
    outline: none; /* Evita el contorno predeterminado negro al enfocar */
    transition: border 0.1s ease;
    background-color: whitesmoke;
    
    border: 1px solid transparent
}

    .txtbox-carga:focus {
        border: 2px solid rgba(0, 123, 255, 0.4);
    }

.div-form-btn{
    width:100%;
    display:flex;
    flex-direction:row;
    height:10%;
    align-items:center;

}
.btn-cargar-articulo {
    width: 25%;
    display: inline-block;
    background-color: lightgray; /* Color azul tipo botón */
    color: white;
    padding: 10px 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    border: none;
    margin-left: 3%;
    margin-top: 4%;
}
    .btn-cargar-articulo:hover {
        background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
        color: white;
    }

    .btn-cargar-articulo.disabled,
    .btn-cargar-articulo[disabled] {
        background-color: gray; /* o un color más apagado */
        cursor: not-allowed;
    }

        .btn-cargar-articulo.disabled:hover,
        .btn-cargar-articulo[disabled]:hover {
            background-color: gray; /* hover inactivo */
        }

.btn-cancelar-articulo {
    width: 25%;
    display: inline-block;
    background-color: lightgray; /* Color azul tipo botón */
    color: white;
    padding: 10px 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    border: none;
    margin-left: 3%;
    margin-top: 4%;
}
    .btn-cancelar-articulo:hover {
        background-color: rgba(202, 7, 7, 0.95); /* Color al pasar el mouse */
        color: white;
    }
.btn-cancelar-articulo.disabled,
.btn-cancelar-articulo[disabled] {
    background-color: gray; /* o un color más apagado */
    cursor: not-allowed;
}

    .btn-cancelar-articulo.disabled:hover,
    .btn-cancelar-articulo[disabled]:hover {
        background-color: gray; /* hover inactivo */
    }
.contenedor-form-and-image {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 40%;
    border-radius: 10px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
}
/*PANTALLA EDITAR ARTICULO*/
.contendor-editar {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
}

.contenedor-titulo-editar {
    width: 100%;
    background-color: blanchedalmond;
    height: 9%;
    align-items: center;
    display: flex
}

    .contenedor-titulo-editar > h2 {
        margin-left: 5%;
    }

.contenedor-formulario-editar {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: aliceblue;
    height: 80%;
    width: 45%;
    margin-right: 0.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.label-formulario {
    margin-top: 1%;
    margin-left: 2%;
}

.textbox-formulario {
    width: 70%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-color: ghostwhite;
    padding-left: 10px;
    border: none;
}

.ddl {
    width: 20%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-color: ghostwhite;
    padding-left: 10px;
    border: none;
}

.contendor-imagen {
    background-color: yellow;
    height: 80%;
    width: 45%;
    margin-left: 0.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/*PAGINA MENUUSUARIO*/

.contenedor-main-usuario {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.contendor-login {
    background-color: white;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.titulo-login{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
}

.contendor-user, .contendor-pass {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.contendor-btn {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 2%;
    justify-content: center;
}

.btn-login {
    width: 25%;
    margin-left: 0.9%;
    margin-right: 0.9%;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    text-align: center;
}

    .btn-login:hover {
        background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
        color: white;
    }

.txtUser, .txtPass {
    width: 50%;
    margin-left: 3%;
    border-radius: 10px;
    border: none;
    height: 30px;
    text-align: center;
    background-color: whitesmoke;
}

.label-user, .label-user-pass {
    margin-left: 3%;
}

/*Pagina registro*/

.contenedor-main-registro {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center
}

.contenedor-registro {
    display: flex;
    width: 30%;
    flex-direction: row;
    height: 60%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);
}

.contenedor-form {
    width: 90%;
    margin-top: 2%;
}

.contendor-img-perfil {
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: yellow;
}

.img-registro-perfil {
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.div-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 15%;
}

    .div-form > label {
        margin-left: 1%;
        margin-top: 1%;
    }

.txtbox-form {
    width: 60%;
    margin-left: 1.5%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 1%;
    outline: none; /* Evita el contorno predeterminado negro al enfocar */
    transition: border 0.1s ease; /* Suaviza el cambio */
    background-color: whitesmoke;
   
}

    .txtbox-form:focus {
        border: 2px solid rgba(0, 123, 255, 0.4);
        /* Azul translúcido */
    }

.btnRegistro {
    width: 45%;
    display: inline-block;
    background-color: lightgray; /* Color azul tipo botón */
    color: white;
    padding: 10px 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
    border: none;
    margin-left: 2%;
    margin-top: 4%;
}

    .btnRegistro:hover {
        background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
        color: white;
    }


    /*Estilos ventana modal*/
.mensaje-exito {
    
    background-color: #d4edda;
    color: green;
    padding: 15px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    text-align: center;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.panel-confirmarcion{
    width:100%;
    height:15%;
    display:flex;
    
    align-items:center;
    justify-content:center;

}

/*CARRUSEL*/
.carrusel-container {
    position: relative;
    width: 100%;
   
    overflow: hidden;
    
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/* ----- Carrusel (usa Flexbox) ----- */
.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* 3 imágenes */
}

/* ----- Cada slide ----- */
.slide {
    min-width: 100%;
    flex-shrink: 0;
}

    .slide img {
        width: 100%;
        height: auto;
        display: block;
    }

/* ----- Botones de navegación ----- */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    
    transition: background 0.3s ease;
    z-index: 10;
}

    .btn:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.prev {
    left: 15px;
}

.next {
    right: 15px;
}
.menu-overlay {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo para cubrir toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    z-index: 999; /* Por encima de todo */
}
.menu-mobile{
    display:flex;
    
    width:80%;
    align-items:center;
    justify-content:end;
}
    .menu-mobile > ul {
        margin-right:0.5%;
        
        display: flex;
        width: 40%;
        height: 30%;
        align-items: center;
        list-style: none;
        color: inherit;
        justify-content:space-around;
    }
        .menu-mobile > ul > li > a {
            text-decoration: none;
            text-align:center;
            width:130px;
            font-size:1.1em;
            display: inline-block;
            background-color: lightgray; /* Color azul tipo botón */
            color: white;
            border-radius:20px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* sombra */
            border: none;
            
        }

.menu-mobile > ul > li > a:hover {
    background-color: rgba(0, 123, 255, 0.4); /* Color al pasar el mouse */
    color: white;
}

/* ----- Responsive ----- */
@media only screen and (max-width: 600px) {
    body {
        width: auto; /* o implícitamente 100% del viewport */
    }

    .btn {
        font-size: 18px;
        padding: 8px;
    }

    header {
        width: 100%;
        height:60px;
        display: flex;
    }

    .contenedor-header {
        height: 100%;
        width: 100%;

        
        display: flex;
        flex-direction: row;
    }

    .contenedor-logo {
        width: 70%;
        background-color: rebeccapurple;
    }
    .menu-mobile{
        display:flex;
        width:30%;
        align-items:center;
        justify-content:center;
    }
    .btn-menu-burger {
        cursor: pointer;
        color: black;
        font-size: 30px;
    }


    .menu-navegacion {
        width: 45%;
        background-color: yellow;
        overflow: hidden; /* evita que se desborde contenido */
        box-sizing: border-box; /* incluye padding y border dentro del ancho */
        display: flex;
        justify-content: center;
    }

    .menu-navegacion ul {
        list-style: none; /* quita los bullets */
        padding: 0; /* elimina padding por defecto */
        margin: 0; /* elimina margin por defecto */
        display: flex; /* opcional: si querés que los <li> queden en fila */
        flex-direction:column;
        justify-content:center;
        
       
    }

    .button-a {
        font-size: 0.9em;
        width: 100%;
    }


    .menu-navegacion li {
        flex: 1; /* opcional: que cada <li> ocupe el mismo ancho */
        box-sizing: border-box;
    }

    .menu-login {
        background-color: greenyellow;
        width: 45%;
        display:flex;
        justify-content:center;
        align-items:center;
        
    }
    .menu-login > ul{
        display:flex;
        flex-direction:column;
    }
    .btn-mi-cuenta{
        font-size:0.9em;
        width:100%;
    }

    
    .menu-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

        .menu-content ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            display:flex;
            flex-direction:column;
            width:90%;
            justify-content:center;
            align-items:center;
        }

        .menu-content li {
            margin: 15px 0;
            display:flex;
            justify-content:center;
        }

            .menu-content li a {
                color: black;
                font-size: 1.3em;
                text-decoration: none;
                
            }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 38px;
        color: white;
        cursor: pointer;
    }

    .li-menu-mobile {
        background-color: red;
        display: flex;
        width: 60%;
        height: 30%;
        padding: 10px;
        border-radius: 10px;
        background-color: lightgray;
        border: none;
        
    }

    .columnacard{
        width:100%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        background-color:hotpink;
        justify-content:space-around;
    }
    /*estilos tarjetas articulos*/
    .card{
        width:150px;
        height:40vh;
        
    }
    .contenedor-img{
        display:flex;
        height:100px;
    }
    .img-articulo{
        
        
        
    }
    .card-body{
        display:flex;
        
        height:10px;
    }
    .card-title{
        background-color:yellow;
    }
    .btnIdArticulo{
        height:40px;
        width:100%
    }
    
}

    





