body {
    background-color: snow;
    display:flex;
    flex-direction:column;
    
}
.navegacion{
    
}
.rowHeader {
    background-color: #27374D;
    display: flex;
    height: 80px;
    padding-left: 15px;
    padding-top: 15px;
}
.btnNav {
    height: 40px;
    width:120px;
    border-radius:70px;
    border-color:darkgray;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.columna3{
    display:flex;
    height:44px;
    
}
.columna1 {
    display: flex;
    height: 44px;
}
.btnListado{
    
    font-size: 1rem;
    border:none;
    outline:none;
    padding:10px 12px;
    border-radius:10px;
    background-color:antiquewhite;
    color:white;
}
.columnaListado{
    
    
}
.oculto{
    display:none;
}
.contenedorListado {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    
}
.primeraRow{
    height:100px;
}
.contenido{
    display:flex;
    align-items:center;
    justify-content:center;
}
.filaloca {
    display: flex;
    align-items: center;
    justify-content: center;
}
.columna {
    display: flex;
    align-items: center;
    justify-content: center;
}
.separated-column {
    padding: 10px;
    margin:20px
}
.tabladgv{
    width:100vh;
}
.tarjetaCatalogo {
    background-color: lightslategrey;
    height: 600px;
    margin-left: 30px;
    width: 80%;
     /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}
}
.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 'cover' para llenar el contenedor, 'contain' para ajustarse dentro del contenedor */
}
.imagenes{
    width:150px;
    height:250px;
}
.rowFormulario {
    height: 150px;
    background-color:mediumpurple;
}

.contendorMarca{

}
.segundaRow{
    background-color:aqua;
    height:100px;
}
.columnaBusquedaAvanzada{
    background-color:orangered;
    display:flex;
}
.contenedorBusquedaSimple {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}